@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Edu+AU+VIC+WA+NT+Hand:wght@400..700&family=Inter:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    height: 100vh;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

.container {
    position: relative;
   height: 100%;
}

.split {

    height: 100%;
    
    transition: width .5s ease-in-out;
}

.left {
    position: absolute;
    width: 50%;
    left: 0;
    top: 0;
    background-image: url("/assets/cheng-feng-1P0oeKkPcf0-unsplash.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 9;
}

.right {
    position: absolute;
    width: 50%;
    right: 0;
    top: 0;
    background-image: url("/assets/michael-joiner-2PX8L5zPLwc-unsplash.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
   
}

.left-active.left {
    width: 75%;
}

.left-active .right {
    width: 25%;
}

.right-active.right {
    width: 75%;
    z-index: 9;
}

.right-active.left {
    width: 25%;
}
