body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    background: brown;
    width: 50%;
    text-align: center;
    padding: 4rem;
    color: #fff;
    
}
textarea:focus{
    bottom: none;
    outline: none;
}