body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.slider-content {
    text-align: center;
    width: 48%;
    background: beige;
    padding: 2rem 1rem;
}

.slider-img img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

